<div id="unfocus" onclick="unfocus()"></div>
<form id="loginForm">
    <div class="welcome">WELCOME</div>
    <input id="username" type="email" placeholder="Enter Email" required>
    <input id="password" type="password" placeholder="Enter Password" required>
    <span class="signupButton" onclick="signup()">Sign up?</span>
    <button id="loginButton" type="submit">Log In</button>
    <div>
        <label for="rememberMe">Remember Me</label>
        <input type="checkbox" id="rememberMe">
    </div>
</form>
<div id="signupForm">
    <div class="signup">Sign Up</div>
    <input type="text" placeholder="Username" required>
    <input type="text" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <input type="password" placeholder="Confirm Password" required>
    <span class="loginButton" onclick="login()">Log In?</span>
    <button id="signupButton">Sign Up</button>
</div>
<div class="header">
    <div class="title" onclick="window.location.href='/'">
        <i class='bx bx-conversation titleIcon'></i>
        <span>SaidIt</span>
    </div>
    <div class="searchBar">
        <i class='bx bx-search searchIcon'></i>
        <input id="search" type="text" placeholder="Search">
    </div>
    {{#if user}}
        <div class="account">
            <button id="createPost" onclick="window.location.href='/createPost'"><i class='bx bx-plus'></i>Create Post</button>
            <img src="{{user.profileImage}}" class="profilePic" onclick="profileSettings()">
        </div>
    {{else}}
        <div class="account">
            <button id="login" onclick="login()">Log In</button>
            <button id="signup" onclick="signup()">Sign Up</button>
        </div>
    {{/if}}
</div>
<div id="profileSettings" class="hidden">
    <button id="viewProfile" onclick="window.location.href='/viewProfile/{{user.username}}'"><i class='bx bx-user'></i>View Profile</button>
    <button id="logout"><i class='bx bx-log-out'></i>Log Out</button>
</div>
