<div class="sidebar">
    <div class="tabGroup tabs">
        <button class="buttonGroup" onclick="window.location.href='/'">
            <i class='bx bx-home'></i>
            <span>Home</span>
        </button>
        <button class="buttonGroup" onclick="window.location.href='/about'">
            <i class='bx bxs-group'></i>
            <span>About</span>
        </button>
    </div>
    {{#if user}}
        <div class="tabGroup communities">
            <span class="tabTitle"><i class='bx bx-star'></i>My Communities</span>
            <button class="buttonGroup">
                <i class='bx bx-plus'></i>
                <span>Create New Community</span>
            </button>
            {{#each myCommunities}}
                {{> community this}}
            {{/each}}
        </div>
    {{/if}}
    <div class="tabGroup explore">
        <span class="tabTitle"><i class='bx bxs-rocket'></i>Explore</span>
        {{#each communities}}
            {{> community this}}
        {{/each}}
    </div>
</div>