<div class="main">
    <div class="body">
        <div id="sort">
            <div id="mainsort">
                <span id="current"><i class='bx bxs-hot'></i>Members<i class='bx bx-chevron-down'></i></span>
            </div>
        </div>
        <div class="postContainer">
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-1/458172370_3914543298829605_4070267622635450878_n.jpg?stp=cp6_dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_ohc=PqWfZqI6AncQ7kNvgHxwKxR&_nc_oc=Adj50ctN1gdkdBwluVyOGRNMqqMEpmFbHB4DjmmjWzSYlzD7eIWkA_YV-qt_nuMvj0s&_nc_zt=24&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=AxZMAJushrxJuSA4_PB5Pn1&oh=00_AYGT7wsJ51HlWNo0eO0C6HqVf0-vcFVsatLDeWRPjIULfQ&oe=67D38C98" class="profilePic">
                        <div>
                            <span class="posterName">Job Trocino</span>
                            <span class="timePosted">10 Minutes Ago</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">I love JQuery</span>
                    <span class="postBody">Me when I can shorten 'document.getElementById(id)' to just $("#id"). Thank you JQuery. Very stress project but I learned a lot.</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">26</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-4.fna.fbcdn.net/v/t39.30808-1/481304932_2133657533758005_4430130964507489682_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=101&ccb=1-7&_nc_sid=e99d92&_nc_ohc=L1CrEiP5AB8Q7kNvgGcFPkQ&_nc_oc=Adh7kaGIyp4-zrHD3-ObDHuW7fTyKW8b936IATnqz47tpuFvx_TvjTuralvOdkNJLJg&_nc_zt=24&_nc_ht=scontent.fmnl3-4.fna&_nc_gid=AY7r4En7_zZnzFQkip00vjO&oh=00_AYFPcrW3IUKMWmZfCbUwTVY3lnJ8A-I8BGIiJncsEzwoDA&oe=67D393F3" class="profilePic">
                        <div>
                            <span class="posterName">JM Miranda</span>
                            <span class="timePosted">3 Hours Ago</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">Cheesed to meet you!</span>
                    <span class="postBody">I just love dealing with Web APIs. Just one small mistake or misinput somewhere becomes a grand treasure hunt! I'm happy to deal with mistakes, it keeps me humble!</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">69</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-3.fna.fbcdn.net/v/t39.30808-1/472004290_9089341244519107_7298129799219517678_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=y0rD7ZC35AUQ7kNvgECNsd_&_nc_oc=Adjov69JUCwMmeVIJjHPH7fpCIJ4Rec2iDk-sZAka_V_E8kdQdZ944N4A-3svTa5Eh8&_nc_zt=24&_nc_ht=scontent.fmnl3-3.fna&_nc_gid=AnuDk8KVbKilvqP3XNwsDhq&oh=00_AYEGIOOPsD77l4hQmfSFpZDPFqYaCU54wFUgYW5e1Fc4hQ&oe=67D3724E" class="profilePic">
                        <div>
                            <span class="posterName">Ching Man Wong</span>
                            <span class="timePosted">Yesterday</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">CCAPDEV</span>
                    <span class="postBody">I'm confused but learning</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">99</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-1/380793521_2028470754159706_8134974621118649568_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=106&ccb=1-7&_nc_sid=e99d92&_nc_ohc=8Cy0uxv9suoQ7kNvgHtcJx0&_nc_oc=Adg3vHYkRhDSn3aarBIoykzNS8n6zSqkRBlYFpMLexamCHFVhkAt4fVZi7DsDV1vt-c&_nc_zt=24&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=ACM0wJFQeR8W1YbNNBj4Ecb&oh=00_AYForvcEnxIK-COOxVl3NYIllkT5hT3LEv031Fl8KnwOAA&oe=67D36CAE" class="profilePic">
                        <div>
                            <span class="posterName">Sophia Avelino</span>
                            <span class="timePosted">2 Days Ago</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">Placeholder</span>
                    <span class="postBody">Placeholder</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">26</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
