<div class="main">
    <div class="body">
        <div id="sort">
            <div id="mainsort">
                <span id="current"><i class='bx bxs-hot'></i>Members<i class='bx bx-chevron-down'></i></span>
            </div>
        </div>
        <div class="postContainer">
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfSSmuKtBLKfGzFv1Bi23dtQWZyLgtUERRdA&s" class="profilePic">
                        <div>
                            <span class="posterName">Server Admins</span>
                            <span class="timePosted">Apr 2, 2025, 15:13</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">Disclaimer</span>
                    <span class="postBody">This website is for educational purposes only. All the copyrighted material in it belong to their respective owners.</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">1</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-1/458172370_3914543298829605_4070267622635450878_n.jpg?stp=cp6_dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_ohc=ggX8si5S9rUQ7kNvgFiYX0_&_nc_oc=AdnmPbsrMBKcu3TRBlncooCxdjOEr6K67ufA2kFCgNs2uzorb5zXhfsTWxJV7dSak98cZLBuiJiuvIriBJofvFrj&_nc_zt=24&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=rKm7OvQMdYj2gGwh-Hw0lA&oh=00_AYH5URuqFajFDAesG0FV-btalI8LsdvtvOBJGXJapYj-xA&oe=67F2C018" class="profilePic">
                        <div>
                            <span class="posterName">Job Trocino</span>
                            <span class="timePosted">Mar 10, 2025, 11:49</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">I love JQuery</span>
                    <span class="postBody">Me when I can shorten 'document.getElementById(id)' to just $("#id"). Thank you JQuery. Very stress project but I learned a lot.</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">26</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-1/392864029_1801060450351050_7967100182295673352_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=100&ccb=1-7&_nc_sid=e99d92&_nc_ohc=On8Xy73xfYQQ7kNvgGYSkmA&_nc_oc=Adm-MDkZ3dUVGv3Xah2tW5S5QNzmOWzZZ9rkykp9WmKQDlstQ2MxbTI4ZQ5wlHJUtQ-ipoAJgeE-RqPllFi5whWD&_nc_zt=24&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=7RkL7QV9IZ0WXjia0-dT4g&oh=00_AYGWWrbYDqG8KHQQJQ1GY9IxOy1WgK3ouxzWJfSlApXb1A&oe=67F2BB5D" class="profilePic">
                        <div>
                            <span class="posterName">JM Miranda</span>
                            <span class="timePosted">Mar 10, 2025, 07:32</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">Cheesed to meet you!</span>
                    <span class="postBody">I just love dealing with Web APIs. Just one small mistake or misinput somewhere becomes a grand treasure hunt! I'm happy to deal with mistakes, it keeps me humble!</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">69</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl3-3.fna.fbcdn.net/v/t39.30808-1/472004290_9089341244519107_7298129799219517678_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=QKy0gSrgTTsQ7kNvgE_4O0x&_nc_oc=AdlMyHFfXL7t_gkMVYrjP3YqxuISfcS03V9AD2muxPRVR5f20b3_xZY-VnnCuE3IMZuHhv5ALJCEwrhf3f6nJ7Y2&_nc_zt=24&_nc_ht=scontent.fmnl3-3.fna&_nc_gid=5SD0NNFCmP5j41J4MxjVMg&oh=00_AYG7mGw-5epxBeFmAab53NosDXyHbbM0PoLMp_9HnkFteg&oe=67F2A5CE" class="profilePic">
                        <div>
                            <span class="posterName">Ching Man Wong</span>
                            <span class="timePosted">Mar 9, 2025, 14:51</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">CCAPDEV</span>
                    <span class="postBody">I'm confused but learning</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">67</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
            <div class="post">
                <div class="postHeaderContainer">
                    <div class="postHeader">
                        <img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-1/380793521_2028470754159706_8134974621118649568_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=106&ccb=1-7&_nc_sid=e99d92&_nc_ohc=Goi80LvbMKkQ7kNvgEkoQ0n&_nc_oc=AdmeqOiPXH-O1PwAWMCQVIFChQn-8Nm9K0S8KyzjHW9EpIb4NpSJ-U5al1lhpFsoWu8_inntKuUJkyFc5XMEZ42R&_nc_zt=24&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=fIyd4uSc3nrLh4CHA_xS-w&oh=00_AYGUzjurmCBc3Lbbq_GSAkLAmEy-eSCatXe-JCjjtfgQMQ&oe=67F2A02E" class="profilePic">
                        <div>
                            <span class="posterName">Sophia Avelino</span>
                            <span class="timePosted">Mar 8, 2025, 09:59</span>
                        </div>
                    </div>
                </div>
                <div class="postContent">
                    <span class="postTitle">What's a German's favortie drink?</span>
                    <span class="postBody">Java! Even though js may be a pain, java remains to be a fav drink!</span>
                </div>
                <div class="postEngagement">
                    <button class="likeButton clicked"><i class='bx bxs-like'></i></button>
                    <span class="voteValue">99</span>
                    <button class="dislikeButton"><i class='bx bx-dislike'></i></button>
                    <button class="commentButton"><i class='bx bxs-comment'></i><span>0</span></button>
                    <button class="share"><i class='bx bxs-share-alt'></i></button>
                </div>
            </div>
        </div>
    </div>
</div>