<div class="main">
    <div class="textEditorBody">
            <div class="editorTitle"><i class='bx bx-edit'></i>Create Post</div>
            <div class="communitySelection">
                <div class="searchBar">
                    <i class='bx bx-search searchIcon'></i>
                    <input id="searchCommunity" type="text" placeholder="Search Communities">
                </div>
                {{#if community}}
                    <div id="communityList">
                        <div class="communitySelected">
                            <img src="{{community.communityIcon}}" class="communityPic">{{community.communityName}}<i class='bx bx-x'></i>
                        </div>
                    </div>
                {{/if}}
            </div>
            <input id="postTitle" placeholder="Post Title">
            <textarea id="postBody" placeholder="Post Body" rows="10"></textarea>
            <div class="buttonHolder">
                <button class="cancelPost" onclick="window.history.back()">Cancel</button>
                <button class="confirmPost">Post</button>
            </div>
        </div>
</div>
<script>
    document.querySelectorAll("textarea").forEach(function(textarea) {
        textarea.style.height = textarea.scrollHeight + "px";
        textarea.style.overflowY = "hidden";

        textarea.addEventListener("input", function() {
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        });
    });
</script>