<div class="main">
    <div class="textEditorBody">
        <div class="editorTitle"><i class='bx bx-edit'></i>Create Forum</div>
        <input class="textInput"  id="forumTitle" placeholder="Forum Title">
        <textarea class="textArea" id="forumDesc" placeholder="Forum Description" rows="10"></textarea>
        <input class="textInput" id="forumImage" placeholder="Forum Image Link">
        <input class="textInput"  id="forumBanner" placeholder="Forum Banner Link">
        <div class="buttonHolder">
            <button class="cancelPost" onclick="window.history.back()">Cancel</button>
            <button class="confirmPost" id="confirmPost">Create</button>
        </div>
    </div>
</div>