<div class="main">
    <div class="textEditorBody">
        <div class="editorTitle"><i class='bx bx-edit'></i>Create Post</div>
        <form id="communitySelectForm">
            <select id="forumSelect" name="forumSelect">
                <option disabled selected hidden>Select a Community</option>
                {{#each communities}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </form>
        <input id="postTitle" placeholder="Post Title">
        <textarea id="postBody" placeholder="Post Body" rows="10"></textarea>
        <div class="buttonHolder">
            <button class="cancelPost" onclick="window.history.back()">Cancel</button>
            <button class="confirmPost" id="confirmPost">Post</button>
        </div>
    </div>
</div>