<div class="main">
    <div class="textEditorBody">
        <div class="editorTitle"><i class='bx bx-edit'></i>Create Forum</div>
        <input class="textInput" id="forumImage" placeholder="Forum Image Link" value="{{community.forumImage}}">
        <input class="textInput"  id="forumBanner" placeholder="Forum Banner Link" value="{{community.bannerImage}}">
        <input class="textInput"  id="forumTitle" placeholder="Forum Title" value="{{community.name}}">
        <textarea class="textArea" id="forumDesc" placeholder="Forum Description" rows="10">{{community.description}}</textarea>
        <div class="buttonHolder">
            <button class="cancelPost" onclick="window.history.back()">Cancel</button>
            <button class="confirmPost" id="confirmPost">Create</button>
        </div>
    </div>
</div>