<div class="main">
    <div class="body">
        <div id="sort">
            <div id="mainsort" onclick="sortClicked()">
                <span id="current"><i class='bx bxs-hot'></i>Hot<i class='bx bx-chevron-down'></i></span>
            </div>
            <div class="choices hidden" onclick="sortSelected(this)"><i class='bx bxs-hot'></i>Hot</div>
            <div class="choices hidden" onclick="sortSelected(this)"><i class='bx bx-up-arrow-alt'></i>Top</div>
            <div class="choices hidden" onclick="sortSelected(this)"><i class='bx bxs-time'></i>New</div>
        </div>
        <div class="postContainer">
            {{#each posts}}        
                {{> post post=this user=../user showCommunity=../showCommunity}}
            {{/each}}
        </div>
    </div>
</div>
