<div class="main">
    {{> sidebar}}
    <div class="postContainer">
        {{> post post=post user=user}}
        <div class="replyContainer">
            <textarea id="originalReply" class="replyContent" placeholder="Reply to @{{post.posterName}}" rows="1" onfocus="showPostButtons(this)" onblur="hidePostButtons(this)"></textarea>
            <button class="cancelReply replyButton hidden">Cancel</button>
            <button class="postReply replyButton hidden">Post</button>
        </div>

        <div class="commentContainer">
            {{#each comments}}
                {{#if (isNull parentId)}}
                    {{> comment comment=this comments=../comments user=../user}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>