@import url('fundamentals.css');
@import url('home.css');

#postContainer {
    margin-top: 61px;
}

.sortContainer {
    position: absolute;
    display: flex;
}

#sort, #viewOptions {
    position: relative;
    top: -10px;
}

.communityInfo {
    width: calc(95% + 40px);
    max-height: 30vh;
    margin: 80px 10px 10px;
    background-color: var(--bg);
    border-radius: 20px;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.20));
}

.communityInfo .bannerPic {
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-height: 15vh;
    object-fit: cover;
}

.communityFloatingContainer {
    display: flex;
    position: relative;
    top: -3vw;
    left: 2vw;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    z-index: 2;
}

.communityInfo .communityFloatingContainer .community {
    display: flex;
    align-items: center;
    gap: 2%;
}

.communityFloatingContainer .communityPic {
    width: 5vw;
    height: 5vw;
}

.communityFloatingContainer .communityName {
    color: var(--text);
    text-shadow:
        2px 2px 0 #fff,
        -2px 2px 0 #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff;
    font-size: 300%;
}

.communityDescription {
    position: relative;
    top: -4vw;
    left: 7.5vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.communityDescription .communityStats .bx {
    color: var(--darkgray);
    font-size: 175%;
}

.communityDescription .communityStats {
    color: var(--darkgray);
    font-size: 100%;
    display: flex;
    width: 10vw;
    justify-content: space-between;
}

.communityStats > span {
    display: flex;
    gap: 1%;
    align-items: center;
}

.followers, .comments {
    min-width: 7vw;
}

.posts {
    min-width: 6vw;
}

.communityOptionsContainer {
    display: flex;
    gap: 10px;
}

.communityOptionsContainer .communityOptions {
    color: #fff;
    font-size: 150%;
    background-color: var(--blue);
    padding: 10px 20px;
    margin: 0 2px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    gap: 3px;
    align-items: center;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.20));
}

.communityOptions.createPost, .communityOptions.join.joined {
    color: var(--bg);
    background-color: var(--green);
    border: 2px solid var(--bg);
}

.communityOptions.join {
    color: var(--text);
    background-color: var(--lightgray);
    border: 2px solid var(--text);
}

.communityOptions.createPost .bx, .communityOptions.join.joined .bx {
    color: var(--bg);
}

.communityOptions.join .bx {
    color: var(--text);
}

.communityOptions.edit {
    color: #fff;
    background-color: var(--blue);
    border: 2px solid #fff;
}

.communityOptions.edit .bx {
    color: #fff;
}
