@import url('fundamentals.css');
@import url('home.css');

#postContainer {
    margin-top: 61px;
}

.sortContainer {
    position: absolute;
    display: flex;
}

#sort, #viewOptions {
    position: relative;
    top: -10px;
}

.profileInfo {
    width: calc(95% + 40px);
    max-height: 30vh;
    margin: 10px;
    background-color: var(--bg);
    border-radius: 20px;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.20));
}

.profileInfo .bannerPic {
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-height: 15vh;
    object-fit: cover;
}

.profileFloatingContainer {
    display: flex;
    position: relative;
    top: -3vw;
    left: 2vw;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    z-index: 2;
}

.profileInfo .profileFloatingContainer .profile {
    display: flex;
    align-items: center;
    gap: 2%;
}

.profileFloatingContainer .profilePic {
    width: 5vw;
    height: 5vw;
}

.profileFloatingContainer .profileName {
    color: var(--text);
    text-shadow:
        2px 2px 0 #fff,
        -2px 2px 0 #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff;
    font-size: 300%;
}

.profileOptions {
    font-size: 150%;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 2px;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.20));
}

.following {
    color: var(--text);
    background-color: var(--lightgray);
    border: 2px solid var(--text);
}

.following.followed {
    color: var(--bg);
    background-color: var(--green);
    border: 2px solid var(--bg);
}

.following .bx {
    color: var(--text);
}

.following.followed .bx {
    color: var(--bg);
}

.editProfile {
    color: #fff;
    background-color: var(--blue);
    border: 2px solid #fff;
}

.editProfile .bx {
    color: #fff;
}

.profileDescription {
    position: relative;
    top: -4vw;
    left: 7.5vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.profileDescription .profileStats .bx {
    color: var(--darkgray);
    font-size: 175%;
}

.profileDescription .profileStats {
    color: var(--darkgray);
    font-size: 100%;
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.profileStats > span {
    display: flex;
    gap: 1%;
    max-width: 100vw;
    align-items: center;
}

.followers, .comments {
    min-width: 7vw;
}

.posts {
    min-width: 6vw;
}
